@import "~bulma/sass/utilities/_all.sass";

.developed-by {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 69px;
  align-items: center;
  margin-right: 10px;

  .developer,
  .partner {
    display: inline-block;
    margin-left: 12px;

    @include mobile {
      margin-left: 6px;
    }
  }

  .caption,
  .captioned-logo {
    vertical-align: middle;
    display: inline-block;
  }

  .captioned-logo {
    margin-left: 10px;
    @include mobile {
      margin-left: 6px;
    }
  }

  .caption {
    font-size: 14px;
    line-height: 16px;
    color: #000;

    @include mobile {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

@media (min-width:480px) {
  .developed-by {
    margin-right: 40px;
  }
}
