@import "~bulma/sass/utilities/_all.sass";

.developed-by {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  > span {
    display: flex;
    border-bottom: 1px solid #e5e5e5;

> div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
}
}
