.__list-item {
  background-color: whitesmoke;
  display: flex;
  width: 100%;
}

.__list-item {
  &:hover,
  &:active,
  &--active {
    cursor: pointer;
    background-color: #b6cadb;
  }

  &:hover &,
  &:active &,
  &--active & {
    &__left-side {
      svg path {
        fill: #1C1080;
      }
    }
  }
}

.__list-item--non-option:hover,
.__list-item--non-option:active {
  cursor: initial;
  background-color: whitesmoke;
}


.__list-item__left-side {
  background-color: #b6cadb;
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 46px;

  svg {
    align-self: center;
  }
}

.__list-item__right-side {
  display: flex;
  margin-right: 30px;

  svg {
    align-self: center;
  }
}

.__list-item__content {
  width: 100%;
  color: #000;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 14px;
}
