{
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": ["react", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
      }
    ],
    "react/prefer-stateless-function": "error",
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "jsx-quotes": ["warn", "prefer-double"],
    "quotes": ["warn", "double"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-eval": "error",
    "no-shadow": "error",
    "no-trailing-spaces": "warn",
    "no-unused-expressions": "error",
    "no-var": "error",
    "max-len": ["error", { "code": 120 }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
