@import "bulma/sass/utilities/_all.sass";
@import "~bulma/sass/components/level.sass";

.action-buttons {
  padding: 10px 0;
  display: flex;
}

@media (max-width: 768px) {
  .action-buttons {
    padding: 0;
    .level-right {
      margin-top: 0;
      display: flex;

      .level-item {
        margin: 0 1rem 0 0;
      }
    }
  }
}
