.__list-wrapper {
  margin-bottom: 1.5rem;

  &.__list-grid-1,
  &.__list-grid-2,
  &.__list-grid-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

     .__list-item {
      display: flex;
      margin-bottom: 7px;
    }
  }

  &.__list-grid-2 {
    .__list-item {
      width: calc(50% - 8px);
    }
  }

  &.__list-grid-3 {
    .__list-item {
      width: calc(33% - 5px);
    }
  }
}

@media (max-width: 1024px) {
  .__list-wrapper {
    &.__list-grid-3 {
      .__list-item {
        width: calc(50% - 8px);
      }
    }
  }
}

@media (max-width: 640px) {
  .__list-wrapper {
    &.__list-grid-2,
    &.__list-grid-3 {
      .__list-item {
        width: 100%;
      }
    }
  }
}
