.hero {
  margin: 1.6rem 0;

  .hero-body {
    padding: 0;

    .title {
      font-size: 2rem;
      line-height: 3rem;
      color: #1c1080;
      font-weight: normal;
      display: flex;

      .hero-icon {
        display: flex;
        margin: auto {
          right: 5px;
          left: 0;
        }
      }
    }

    .subtitle {
      font-size: 1rem;
      line-height: 1.5rem;
      color: #000000;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    .hero-body {
      .title {
        font-size: 1.6rem;
        line-height: 1;
        align-items: center;
      }
    }
  }
}
