@import "~bulma/sass/utilities/_all.sass";

.logo {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  span {
    line-height: 0;
  }

  img,
  svg {
    height: 3rem;
  }

  .smaller img,
  .smaller svg {
    height: 2rem;
  }
}
