$subscribeColor: #27ae60;
$subscribeColorHover: #249252;

.subscribe-form {
  background-color: rgba(5, 214, 199, 0.2);
  padding: 36px;
  .button {
    height: 100%;
    background-color: $subscribeColor;
  }
  .button:disabled {
    background-color: $subscribeColor;
  }
  .button:hover {
    background-color: $subscribeColorHover;
  }
  p.success {
    color: $subscribeColor;
  }
  .hero-body {
    padding: 0 0 12px 0;
  }
}