.__sidebar-menu-item {
  --highlightColor: #b6cadb;
  --backgroundColor: #f5f5f5;

  list-style-type: none;
  border-left: 40px solid var(--highlightColor);
  background: var(--backgroundColor);
  margin: 5px 0;
  padding: 5px 10px;
}

.__sidebar-menu-item:hover,
.__sidebar-menu-item.active {
  background: var(--highlightColor);
  cursor: pointer;
}

.__sidebar-menu-item.isTitle {
  font-weight: bold;
  border-left-width: 20px;
}
