.__sidebar-menu-item {
  list-style-type: none;
  border-left: 40px solid #b6cadb;
  background: #f5f5f5;
  margin: 5px 0;
  padding: 5px 10px;
}

.__sidebar-menu-item:hover,
.__sidebar-menu-item.active {
  background: #b6cadb;
  cursor: pointer;
}

.__sidebar-menu-item.isTitle {
  font-weight: bold;
  border-left-width: 20px;
}
