.result-history-table {
  width: 100%;

  th {
    color: #eb5757 !important;
  }
}

.personal-data {
  padding: 2em 0em;
}

.personal-data-table th,
.personal-data-table td,
.result-history-table th,
.result-history-table td {
  border: none;
}
