$instruments-item-default-color: #05d6c7;
$instruments-item-header-bg-color: #f2f2f2;
$instruments-item-header-content-color: rgba(247, 247, 247, 0.5);

.info-card {
  .card-title {
    border-left: 16px solid;
    background: $instruments-item-header-bg-color;
    font-size: 16px;
    display: flex;
    padding: 20px;
    border-color: $instruments-item-default-color;
  }
  .card-content {
    background: $instruments-item-header-content-color;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px 16px 16px;
    p {
      margin-top: 16px;
    }
    button {
      margin-top: 16px;
      outline: none;
      border: none;
      padding: 8px;
      cursor: pointer;
      border-radius: 3px;
      background: $instruments-item-default-color;
      color: #ffffff;
    }
  }
}