@import "~bulma/sass/utilities/_all.sass";

.partner-logo {
  height: 50px;
  @include mobile {
    height: 32px;
  }

  img {
    max-width:100%;
    max-height:100%;
  }

  .partner-logo--small {
    @include desktop {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }

  .partner-logo--big {
    @include mobile {
      display: none;
    }
  }
}
