.__search-input-container {

  input {
    border: 1px solid #42d2f2;
    border-radius: 5px;
    font-style: italic;
    font-size: 16px;
    padding: 16px 8px;
    outline: none;

    &:focus {
      border: 1px solid #42d2f2;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    pointer-events: initial !important;
  }
}
