.App-header {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.4rem 0;
  align-items: center;

  .App-header__logo {
    display: flex;
    align-items: center;
  }

  .App-header__logo svg {
    width: 145px;
  }

  .App-header__logo a {
    line-height: 0;
  }

  .App-header__title {
    font-size: 1.4rem;
    font-weight: 900;
    margin-left: 40px;
  }

  a {
    color: #000;
    text-decoration: none;
    margin: 0px 10px;
  }

  nav {
    flex: 1;
    text-align: right;
    white-space: nowrap;

    a {
      padding: 0.25rem 0.75rem;
    }

    a:hover {
      background: #fafafa;
    }
  }
}

@media (max-width: 920px) {
  .App-header {
    flex-direction: column;

    nav {
      margin: 20px 0 0;
      text-align: center;
    }
  }
}
