.App-header {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.4rem 0;
  align-items: center;

  .App-header__hamburger {
    display: none;
  }
  .App-header__logo {
    display: flex;
    align-items: center;
  }

  .App-header__logo svg {
    width: 145px;
  }

  .App-header__logo a {
    line-height: 0;
  }

  .App-header__title {
    font-size: 1.4rem;
    font-weight: 900;
  }

  a {
    color: #000;
    text-decoration: none;
    margin: 0px 10px;
  }

  nav {
    flex: 1;
    text-align: right;
    white-space: nowrap;

    svg {
      display: none;
    }

    a {
      padding: 0.25rem 0.75rem;
    }

    a:hover {
      background: #fafafa;
    }
  }
}

@media (max-width: 640px) {
  .App-header {
    justify-content: space-between;
    flex-wrap: wrap;

    .App-header__nav--hidden {
      display: none;
    }

    .App-header__hamburger {
      display: block;
      text-align: right;
      user-select: none;
    }

    .App-header__logo {
      flex: 0 0 75%;
    }

    svg {
      margin-right: 8px;
    }

    nav {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      text-align: right;
    }
  }
}
