$__checkbox-color: #004890;
.__checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.__checkbox-label input {
  opacity: 0;
  cursor: pointer;
  display: none;
}

.__checkbox-label .__checkbox-custom {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  bottom: -3px;
  transition: all 0.3s ease-out;
  border: 2px solid $__checkbox-color;
}

.__checkbox-label input:checked ~ .__checkbox-custom {
  background-color: $__checkbox-color;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid $__checkbox-color;
}

.__checkbox-label .__checkbox-custom::after {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  height: 0px;
  width: 0px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.__checkbox-label input:checked ~ .__checkbox-custom::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 4px;
  top: -1px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  background-color: transparent;
}

.__checkbox-label input:checked ~ .__checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  transform: scale(3);
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease-out;
}
