.footer-bar {
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 100px;
  border-top: 1px solid #5e80ff;

  a {
    margin-left: 40px;
  }

  img {
    width: 100px;
  }
}

.footer-content {
  background-color: #1c1080;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  flex-flow: row wrap;
  min-height: 270px;
}

.useful-links {
  font-weight: 600;
  line-height: 21px;
  padding: 0px;
  list-style: none;

  li.footer-links-header {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
  }
}

.code4-branding {
  color: #fff;
  text-align: right;

  img {
    height: 40px;
  }

  p {
    margin: 10px 0px;
  }
}
