@import "~bulma/sass/utilities/_all.sass";

.incubated-by-wrapper {
  border-top: 1px solid #5e80ff;
  width:100%;
  padding: 5px 0;
}

.incubated-by {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height:60px;

  .caption {
    font-size: 14px;
    line-height: 21px;
    color: #000;
  }

  a {
    display: flex;
  }

  img {
    height: 2.3rem;
    margin-left: 1.5rem;
  }
}

@media (max-width: 1023px) {
  .incubated-by {
    justify-content: space-between;
  }
}
