@import "~bulma/sass/utilities/_all.sass";

$info-card-colors: (
  "red": #ff1616,
  "pink": #f5bcd6,
  "green": #05d6c7,
  "yellow": #ffde59
);

.banner-wrapper {
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.banner-wrapper .title {
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
  }
}

@each $color-name, $color-value in $info-card-colors {
  &.is-#{$color-name} {
    .banner {
      background-color: $color-value;
    }
  }
}
